<div>
    <table>
        <tr>
            <td valign="top">
                От:
                <div date-picker="start" ng-disabled="disableDatePickers"  class="date-picker" date after="start" before="end" min-view="date" max-view="date"></div>
            </td>
            <td valign="top">
                До:
                <div date-picker="end" ng-disabled="disableDatePickers"  class="date-picker" date after="start" before="end"  min-view="date" max-view="date"></div>
            </td>
        </tr>
    </table>
</div>
